.titleContainer {
  margin-block: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 24px;
  line-height: 1.66;
  font-weight: normal;
}

.settingsContainer {
  max-width: 1146px;
  margin: 0 auto;
}

.settingsList {
  height: 600px;
  margin-block: 20px 40px;
  padding-block: 30px;
  border-radius: 20px;
  background-color: var(--main-white);
}

.bottomContainer {
  display: flex;
  justify-content: end;
}

.btnContainer {
  display: flex;
  gap: 40px;
  align-items: end;
}

.cancelBtn {
  background-color: transparent;
  color: var(--main-text);
  border: 1px solid #e5e5e5;
}
