.form {
  padding-inline: 30px;
}

.formInputs {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.permissions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
