.chartCard {
  position: relative;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;

  animation: slideDownFade 0.4s ease-out forwards;

  &.hidden {
    display: none;
  }
}

.moreVert {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}

.moveBtn {
  position: absolute;
  top: 45%;
  right: 15px;
  cursor: grab;
  z-index: 1;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    translate: 0 -10px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
